PORT=3000
LOG_LEVEL=info
CORS_ORIGIN=http://localhost:3001
BETTER_AUTH_SECRET=default-secret-key-min-32-chars-replace-in-production
INTERNAL_CLUSTER_SECRET=cluster-shared-secret-key-replace-in-prod

UPSTREAM_RBAC_URL=http://127.0.0.1:3011
UPSTREAM_MASTER_URL=http://127.0.0.1:3012
UPSTREAM_TRANSAKSI_URL=http://127.0.0.1:3013
UPSTREAM_DOKUMEN_URL=http://127.0.0.1:3014
